{% load static %}
<!DOCTYPE html>
<html>
    <div class="topnav">
        <a class="active" href="#home">Home</a>
        <a href="#news">News</a>
        <a href="#contact">Contact</a>
        <a href="#about">About</a>
    </div>
    <head>
        <title>KeysForGames</title>
        <link rel="stylesheet" href="{% static 'css/style.css' %}">
    </head>
    <body>

        <header>
            <h1>🎮 Game Shop</h1>
        </header>

        {% block content %}
        {% endblock %}

    </body>
</html>