.homePage{
    background-color: #7d52a7;
}
.topnav {
  background-color: #1a0231;
  overflow: hidden;
}
.topnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav a:hover {
  background-color: #5f0a5b;
  color: rgb(0, 0, 0);
}

.topnav a.active {
  background-color: #6302ff;
  color: white;
}

.secondnav {
    background-color: rgb(55, 23, 82);
  overflow: hidden;
}

.secondnav a {
  float: left;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 14px;
}

.secondnav a:hover {
  background-color: #770c72;
  color: rgb(0, 0, 0);
}

.secondnav a.active {
  background-color: #6302ff;
  color: white;
}

.search-form {
    
}